
body {
    margin: 0;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

h1 {
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Great Vibes', cursive;
    font-size: 80px;
}

.top-container {
    background-color: #ffb4b4;
    margin: 0;
    position: relative;
    padding-top: 0px;
}

.middle-container {
    background-color: #ff9292;
     height: 200px;
}

.bottom-container {
    background-color: #ffe8e8;
    height: 200px;
}

.pink{
    font-family: cursive;
    color: #ee5b5b;
}

.mountain { 
    position: relative;
    top: 50px

}

.top-cloud{
    position: relative;
    left: 250px;
    top: 35px
}

.bottom-cloud{
    position: absolute;
    
}